---
networks:
  mlops:


x-airflow-common: &airflow-common
  build:
    context: ..
    dockerfile: ./airflow/Dockerfile
    args:
      AIRFLOW_IMAGE: ${AIRFLOW_IMAGE}
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
  volumes:
    # Airflow folders
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    # Project folders
    - ../src:/opt/airflow/src
    - ./data:/opt/airflow/data
  user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-0}"
  networks:
    - mlops
  depends_on:
    - postgres

services:

  postgres:
    image: ${POSTGRES_IMAGE}
    container_name: airflow_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - mlops
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 30
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-init:
    <<: *airflow-common
    entrypoint: [ "/bin/bash" ]
    command:
      - -c
      - |
        echo "[AIRFLOW-INIT] Running airflow db migrate..."
        airflow db migrate

        echo "[AIRFLOW-INIT] Creating admin user (idempotent)..."
        airflow users create \
          --username "${AIRFLOW_ADMIN_USERNAME}" \
          --password "${AIRFLOW_ADMIN_PASSWORD}" \
          --firstname "${AIRFLOW_ADMIN_FIRSTNAME}" \
          --lastname "${AIRFLOW_ADMIN_LASTNAME}" \
          --role Admin \
          --email "${AIRFLOW_ADMIN_EMAIL}" || true

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "${AIRFLOW_WEBSERVER_PORT}:8080"
    depends_on:
      - airflow-init

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      - airflow-init

volumes:
  postgres_data:
