---

services:
  postgres:
    image: ${POSTGRES_IMAGE}
    container_name: mlflow_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 30
    volumes:
      - postgres_data:/var/lib/postgresql/data

  init-artifacts:
    image: busybox:1.36
    command: ["sh", "-c", "mkdir -p /artifacts && chmod -R 777 /artifacts"]
    volumes:
      - mlflow_artifacts:/artifacts
    restart: "no"

  mlflow:
    image: ${MLFLOW_IMAGE}
    container_name: mlflow_server
    depends_on:
      postgres:
        condition: service_healthy
      init-artifacts:
        condition: service_completed_successfully
    env_file:
      - .env
    ports:
      - "${MLFLOW_PORT}:5000"
    volumes:
      - mlflow_artifacts:${MLFLOW_ARTIFACTS_VOLUME_PATH}
    environment:
      MLFLOW_ENABLE_ARTIFACTS_SERVER: "true"
    entrypoint: bash -lc "pip install psycopg2-binary==2.9.9 && \
        mlflow server \
        --host 0.0.0.0 \
        --port 5000 \
        --backend-store-uri ${MLFLOW_BACKEND_STORE_URI} \
        --registry-store-uri ${MLFLOW_REGISTRY_STORE_URI} \
        --serve-artifacts \
        --artifacts-destination ${MLFLOW_ARTIFACTS_DESTINATION} \
      "
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:5000/health')"]
      interval: 5s
      timeout: 3s
      retries: 30
    restart: unless-stopped

volumes:
  postgres_data:
  mlflow_artifacts:
