name: 01 - CI - Main Branch

on:
  push:
    branches: [ main ]
    paths:
      - ".github/**"
      - "infra/**"
      - "src/**"
      - "api/**"
      - "docker/**"
      - "requirements-*.txt"
  workflow_dispatch: {}

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    uses: ./.github/workflows/_reusable-lint.yml
    with:
      working-directory: .
    secrets:
      inherit

  tests:
    uses: ./.github/workflows/_reusable-tests.yml
    with:
      working-directory: .
    secrets:
      inherit

  terraform-plan-apply:
    uses: ./.github/workflows/_reusable-terraform.yml
    with:
      working-directory: infra/envs/prod
      execute-apply: true
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}
      mlflow-db-password: ${{ secrets.MLFLOW_DB_PASSWORD }}


  detect-changes:
    runs-on: ubuntu-latest

    outputs:
      mlflow_changed:  ${{ steps.filter.outputs.mlflow }}
      model_changed: ${{ steps.filter.outputs.model }}
      api_changed: ${{ steps.filter.outputs.api }}
      monitoring_changed: ${{ steps.filter.outputs.monitoring }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            mlflow:
              - '.github/workflows/_reusable-build-and-push-ecr.yml'
              - 'docker/mlflow.Dockerfile'
            model:
              - '.github/workflows/_reusable-build-and-push-ecr.yml'
              - 'src/model/**'
              - 'src/shared/**'
            api:
              - '.github/workflows/_reusable-build-and-push-ecr.yml'
              - 'src/api/**'
              - 'src/shared/**'
            monitoring:
              - '.github/workflows/_reusable-build-and-push-ecr.yml'
              - 'src/monitoring/**'
              - 'src/shared/**'

  build-mlflow:
    needs: [terraform-plan-apply, detect-changes]
    if: needs.detect-changes.outputs.mlflow_changed == 'true'
    uses: ./.github/workflows/_reusable-build-and-push-ecr.yml
    with:
      ecr-repository: "tutoria-mlops-challenge/prod/mlflow"
      dockerfile: "docker/mlflow.Dockerfile"
      context: "."
      image-tag-suffix: "mlflow"
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}


  deploy-model:
    needs: [lint, tests, terraform-plan-apply, detect-changes]
    if: needs.detect-changes.outputs.model_changed == 'true'
    uses: ./.github/workflows/_reusable-build-and-push-ecr.yml
    with:
      ecr-repository: "tutoria-mlops-challenge/prod/model"
      dockerfile: "docker/model.Dockerfile"
      context: "."
      image-tag-suffix: "model"
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}

  deploy-api:
    needs: [lint, tests, terraform-plan-apply, detect-changes]
    if: needs.detect-changes.outputs.api_changed == 'true'
    uses: ./.github/workflows/_reusable-build-and-push-ecr.yml
    with:
      ecr-repository: "tutoria-mlops-challenge/prod/api"
      dockerfile: "docker/api.Dockerfile"
      context: "."
      image-tag-suffix: "api"
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}

  deploy-monitoring:
    needs: [lint, tests, terraform-plan-apply, detect-changes]
    if: needs.detect-changes.outputs.monitoring_changed == 'true'
    uses: ./.github/workflows/_reusable-build-and-push-ecr.yml
    with:
      ecr-repository: "tutoria-mlops-challenge/prod/monitoring"
      dockerfile: "docker/monitoring.Dockerfile"
      context: "."
      image-tag-suffix: "monitoring"
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}
