name: 02 - CI - Pull Request

on:
  pull_request:
    branches: [ main ]
    paths:
      - ".github/**"
      - "infra/**"
      - "src/**"
      - "api/**"
      - "docker/**"
      - "requirements-*.txt"

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    uses: ./.github/workflows/_reusable-lint.yml
    with:
      working-directory: .
    secrets:
      inherit

  tests:
    uses: ./.github/workflows/_reusable-tests.yml
    with:
      working-directory: .
    secrets:
      inherit

  terraform-plan:
    uses: ./.github/workflows/_reusable-terraform.yml
    with:
      working-directory: infra/envs/prod
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}
      mlflow-db-password: ${{ secrets.MLFLOW_DB_PASSWORD }}

  docker-mlflow-test:
    name: Docker Test - MLflow
    needs: [lint, tests]
    uses: ./.github/workflows/_reusable-docker-test.yml
    with:
      dockerfile: "docker/mlflow.Dockerfile"
      context: "."
      image-tag: "mlflow-ci-test"
      test-port: 5000
      healthcheck-path: "/"