name: 98 - Build & Push MLflow Image

on:
  workflow_dispatch: {}

permissions:
  contents: read
  id-token: write

jobs:
  build-mlflow:
    uses: ./.github/workflows/_reusable-build-and-push-ecr.yml
    with:
      ecr-repository: "tutoria-mlops-challenge/prod/mlflow"
      dockerfile: "docker/mlflow.Dockerfile"
      context: "."
      image-tag-suffix: "mlflow"
    secrets:
      aws-infra-role-arn: ${{ secrets.AWS_INFRA_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}
