name: Reusable Tests

on:
  workflow_call:
    inputs:
      working-directory:
        description: "Directory where tests should be executed"
        required: false
        type: string
        default: "."
    secrets:
      dummy:
        required: false

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        working-directory: ${{ inputs.working-directory }}
        run: |
          pip install -r requirements-dev.txt

      - name: Run unit tests with coverage (>= 80%)
        working-directory: ${{ inputs.working-directory }}
        run: |
          pytest \
            --cov=src \
            --cov-report=term-missing \
            --cov-fail-under=80
